<article class="widget-html-widget widget">
	<div class="TL">
		<div class="TR">
			<div class="TM"><span class="CTitle">Subscribe Newsletter</span>
			</div>
		</div>
	</div>
	<div class="ML">
		<div class="MR">
			<div class="MM">
<p>Subscribe our newsletter and get the latest news.</p>
<input type="text" value="Name" style="width:200px;"/><br/>
<input type="text" value="Email" style="width:200px;"/><p></p>
<input type="submit" value="Send"/>
</div>
		</div>
	</div>
	<div class="BL">
		<div class="BR">
			<div class="BM"></div>
		</div>
	</div>
</article>
