<div class="youtube-field">
    <iframe 
        width="@Model.ContentField.Width" height="@Model.ContentField.Height" 
        src="http://www.youtube.com/embed/@Model.ContentField.Identifier?hd=1" 
        frameborder="0" 
        allowfullscreen />
</div>
